<h1> Parks Index </h1>

<ul>
    <% @parks.each do |park| %>
        <li> <%= park.name %> </li>
        <li> <%= park.location %> </li>
        <li> <%= park.current_visitors.to_s %> </li>
        <li> <%= link_to "See park details", park_path(park) %> </li>
        <br>

    <% end %>
</ul>
