<h1><%= @park.name %></h1>

<br>

<% if my_current_visits.any? %>
    <% my_current_visits.each do |v| %>
    <h3><%= link_to "Check #{v.visiting_dog_name} of Park", edit_visit_path(v) %></h3>
    <% end %>
<% else %>
    <h3><%= link_to "Check-in to Park", new_park_visit_path(@park)%></h3>
<% end %>
