<h1> Check-out of Current Visit </h1>



<%= form_for(@visit) do |f| %>

    <%= f.collection_select :dog_id, current_user.dogs.all, :id, :name %>
    <br>
    <br>
    <%= f.submit "Submit" %>
<% end%>