<h1>Check-In to Park</h1>

<%= form_for(@visit) do |f| %>
    <%= f.label :active_visit, "Select Button to Check-In to Park" %>
    <%= f.checkbox :active_visit %>
    <br>
    <br>
    <%= f.submit "Submit" %>
<% end%>